# Shopify CLI/ThemeKit config
.shopify/
.env
.env.*          # Ignore environment-specific settings
config.yml

#git repo
README.md

# OS files
.DS_Store
Thumbs.db

# Node modules (if using npm or theme extensions)
node_modules/
package-lock.json

# Log files
*.log
logs/

# Cache/temp files
.cache/
tmp/
*.tmp

# Build artifacts (if using tools like Tailwind, Webpack, etc.)
dist/
build/
.sass-cache/
*.map

# VS Code settings
.vscode/
