{% liquid
  assign button_link = section.settings.bottom_button_url
  assign button_text = section.settings.bottom_button_label
  assign background_color = section.settings.background_color
%}

{% style %}
  .responsive-btn {
    font-size: var(--full-width-input-font-size);
    padding: var(--full-width-button-padding);
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
    margin: var(--full-width-padding) auto var(--full-width-padding) auto;
    width: unset;
    font-family: 'Gelica Bold' !important;
  }
  @media (max-width: 768px) {
    .responsive-btn {
      margin: 40px auto 30px auto;
    }
  }
  .d-flex {
    display: flex;
  }
{% endstyle %}

<div class="d-flex" style="background-color: {{ background_color }};">
  <a class="btn responsive-btn" href="{{ button_link }}">
    {{ button_text }}
  </a>
</div>

{% schema %}
{
  "name": "Solo Button",
  "settings": [
    {
      "id": "bottom_button_label",
      "type": "text",
      "label": "Bottom Button Label",
      "default": "Discover More Recipes",
    },
    {
      "id": "bottom_button_url",
      "type": "url",
      "label": "Bottom Button Link"
    },
    {
      "id": "background_color",
      "type": "color",
      "label": "Background Color"
    }
  ],
  "presets":[
    {
      "name":"Solo Button"
    }
  ]
}
{% endschema %}